@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html {
position: relative;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: rgb(203, 178, 132);
    --primary-color: rgb(67, 161, 192);
    --primary-color: rgb(183, 112, 112);
    --primary-color: rgb(154, 144, 154);
    --primary-color: rgba(244,189,64);
    --primary-color: #242424;
    /* --primary-color: rgb(8, 101, 129); */
}

a {
    text-decoration: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.red {
    color: red;
}

/* ====================    NAV    ==================== */

.nav {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #818181;
    z-index: 1000;
}

.nav__logo {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav__link {
    padding: 24px 12px ;
    margin-right: 24px;
    font-weight: 700;
    color: #000;
}

/* ====================    HOME    ==================== */

#home {
    background-image: url(./assets/cover.jpg);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 72px);
    display: flex;
    justify-content: center;
}

.content__wrapper--home {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    width: 750px;
    font-size: 72px;
    padding: 36px 24px;
    color: rgb(255, 255, 255);
    background-color: var(--primary-color);
}

.subtitle {
    font-size: 40px;
    background-color: white;
    width: 900px;
    padding: 24px 48px;
}

.home__CTA {
    font-size: 30px;
    width: 600px;
    color: white;
    background-color: #242424;
    padding: 12px 24px;
}

/* ====================    SERVICES    ==================== */

#services {
    margin: 60px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__title {
    font-size: 48px;
    font-weight: 700;
    padding: 12px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 48px 0px;
}

.copyright {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 24px;
    width: 40%;
    background-color: rgb(244, 244, 244);
}

.service__title {
    font-size: 30px;
    padding-bottom: 24px;
}

.service__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    padding-bottom: 12px;
}

.service__description2 {
    padding-left: 24px;
    padding-bottom: 48px;
}

.lessons__benefits {
    font-size: 16px;
    padding-left: 24px;
    list-style: none;
}

.fa-check {
    color: var(--primary-color);
    padding-right: 8px;
}

.sub-service {
    font-size: 25px;
    padding: 12px 0px;
}

.sub-service__description {
    padding: 0px 48px 24px;
    line-height: 2;
}

.note {
    padding-bottom: 24px;
}

.services__figure {
    display: flex;
    align-items: center;
    width: 60%;
    background-color: var(--primary-color);
}

.services__img {
    width: 100%;
}


/* ====================    PACKAGES    ==================== */

#packages {
    margin: 24px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.packages {
    margin: 48px 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.package {
    background-color: rgb(244, 244, 244);
    padding: 12px 12px;
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    border: solid;
}

.heading {
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 24px;
}

.subheading {
    font-size: 22px;
    text-align: center;
    padding-bottom: 24px;
}

.description {
    font-size: 18px;
    line-height: 2;
    text-align: center;
    padding-bottom: 24px;
    font-weight: 400;
}

.package__btn {
    padding: 6px 24px;
    margin-top: 12px;
    background-color: #000;
    color: #fff;
}


/* ====================    CONTACT US    ==================== */

#contact-us {
    margin: 24px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__wrapper {
    display: flex;
    justify-content: center;
}

.contact__figure {
    display: flex;
    justify-content: end;
    width: 100%;
    position: relative;
    background-color: var(--primary-color);
}

.contact__bg {
    display: flex;
    width: 75%;
}

#contact__form {
    background-color: #fff;
    /* height: 50%; */
    position:absolute;
    top: 5%;
    left: 10%;
    padding: 24px;
}

.contact__title {
    font-size: 30px;
    padding-bottom: 24px; 
}

.contact__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    max-width: 400px;
    padding-bottom: 24px;
}

.input {
    width: 100%;
    padding: 16px;
    margin: 12px 6px;
}

.contact__btn {
    padding: 6px 24px;
    color: #fff;
    background-color: #000;
}


/* ====================    FOOTER    ==================== */

footer {
    height: 50px;
    color: #818181;
    margin-top: 50px;
}

.footer__copyright {
    font-weight: 400;
    font-size: 19px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 12px 50px;
}

.test__link {
    color: rgb(78, 88, 226);
}

/* ====================    RESPONSIVNESS    ==================== */

